{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %} Editar Dados {% endblock %}
{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-success">Salvar</button>
        {% if object %}
            <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
        <button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-info" type="button">
            Utilizado
        </button>
    </form>

<br>
<h2 id="horas-atualizadas"></h2>

<p id="mensagem">{{object.funcionario.total_hora_extra}}...</p>

{% endblock %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>
{% endblock %}