{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Editar Funcionario {% endblock %}
{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>

        <br>
        {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn-outline-dark">
        Adicionar documento
        </a>
        {% endif %}
        <br>
        <br>
    <ul>
        {% for documento in object.documento_set.all %}
        <li>
            <a href="{{documento.arquivo.url}}">{{ documento }}</a><br>
        </li>
        {% endfor %}
    </ul>
    <h3>Banco de Horas</h3>
    <ul>
        {% for registro_hora in object.registrohoraextra_set.all %}
        <li>
            <a href="{% url 'update_hora_extra' registro_hora.id %}">
                    {{registro_hora.motivo}} | {{registro_hora.horas}}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h4>Total de Horas</h4>
    <h3>{{object.total_hora_extra}}</h3>

{% endblock %}